<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/ajstyles.css" rel="stylesheet">
        <title>Whitemoon</title>
    </head>

    <header>
        <h1>Whitemoon</h1>
        <div class="slogan">
            <p><i>Giving SEO back to the people</i></p>
        </div>
    </header>

    <body>
        <h2>What is Whitemoon?</h2>
        <p>Whitemoon is an application which tells how much a text is seo-friendly based on the focus keyword.</p>

        <h2>How does it work?</h2>
        <p>Whitemoon uses algorithms based on the number of words and how many times the focus keyword appears.
        To get a 100 out of 100, the text must have at least 1000 words and the keyword must account for 2.5%
        of the whole text.
        </p>

        <h2>What are the limitations of Whitemoon?</h2>
        <p>A maximum SEO score doesn't guarantee that the article will be in the first page of a Google research. That's because
        There are many other factors which decide how an article or a page will be referenced on search engines. Those include the website's
        activity and traffic.
        </p>
    </body>

    <footer>
        <div class="footerstyling">
            <u><a href ="./contact.html">Contact</a></u>-<u><a href="./about.html">About</a></u>
        </div>
    </footer>
    </html>